<div class="page-tpl">
    {% section 'affiliate-program-section-1' %}
</div>

<div class="rte" data-cc-animate data-cc-animate-delay="0.2s">
  <h1 class="feature-header" data-cc-animate>{{ page.title }}</h1>
  {{ page.content }}
</div>

<style>
  #site-main .rte {
  width: 90% !important;
  margin: auto;
}
</style>